* {
    margin: 0%;
    padding: 0%;
    background: black;
}

.container {
    .main {
        height: 300px;
        width: 600px;
        background: #fa6d01;
        position: absolute;
        top: 30%;
        left: 35%;

    }

    .sec {
        height: 300px;
        width: 600px;
        background: white;
        position: absolute;
        top: 40%;
        left: 40%;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid gray;

        p {
            font-size: 10px;
            margin-top: 140px;
            background: white;
            color: #000;
            width: 150px;
            margin-left: 5px;

        }

        .f {
            width: fit-content;
            background: white;

            img {
                height: 200px;
                width: 170px;


            }
        }

        .s {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: white;
            gap: 20px;

            h3 {
                background: white;
                color: #000;
                font-size: medium;
            }

            img {
                margin-top: 10px;
                height: 120px;
                width: 120px;
                background: white;
                color: #000;

            }
        }
    }

    .first {
        height: 300px;
        width: 600px;
        background: white;
        position: absolute;
        top: 10%;
        left: 15%;
        display: flex;
        border: 1px solid gray;

        .t {
            display: flex;
            flex-direction: column;

            justify-content: space-around;
            background: white;
            padding-left: 15px;

            h5 {
                background: white;

                font-size: small;
            }

            h1 {
                background: white;
                font-size: 80px;
            }

            p {
                background: white;
                font-size: 12px;

            }

        }

        .i {
            height: 300px;

            width: 350px;
            display: flex;
            align-items: center;
            background: white;
            justify-content: center;
            background: #ece1f7;

            img {
                height: 200px;
                width: 170px;

            }
        }



    }
}